################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pointman.Atipera/.vs/Pointman.Atipera/FileContentIndex
